.chat-area-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 57vh;
}

.messages-container {
    flex: 1;
    padding: 16px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scrollbar-width: none; /* Firefox */
}

.messages-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.message-sender {
    font-size: 14px;
    color: #6b7280; /* Subtle gray */
    margin-left: 8px;
}

.message-sender.sent {
    text-align: right;
    color: #b2bde6b8; /* Green for sent messages */
    margin-right: 8px;
}

.message-sender.received {
    text-align: left;
    color: #4f70a9; /* Blue-gray for received messages */
}

.message-bubble {
    max-width: 70%;
    padding: 12px 16px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle depth */
}

.message-bubble.sent {
    align-self: flex-end;
    background: linear-gradient(135deg, rgb(9, 45, 56), #141313a7); /* Gradient for sent */
    color: white;
}

.message-bubble.received {
    align-self: flex-start;
    background: linear-gradient(135deg, #d1d5dbfb, #d2d4d753); /* Gradient for received */
    color: black;
}

.chat-input-area {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #48372d18;
    gap: 8px;
    position: sticky;
    bottom: 0;
}

.message-input {
    flex: 1;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    color: #edf2f7;
    background-color: #4a55684e;
}

.message-input::placeholder {
    color: #a0aec0;
}

.upload-button,
.send-button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4a556800;
    color: #4a5568a7;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover,
.send-button:hover {
    background-color: #718096;
}

.hidden {
    visibility: hidden;
}

.image-preview img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.image-preview{
    background-color: transparent;
    border: none;
}
#imageUpload{
    display: none;
}



.full-image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.message-text {
    font-family: monospace;
    margin-bottom: -4px;
}
