
/* changes from here */

.maindiv{
    font-size: 20px;
background-color: rgba(1, 1, 1, 0.89);
height: 100vh;
}
.smallbox{
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.393);
    height:22.5vh;
    width: 23vh;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 10px;

}
.sidebar{
    width: fit-content;
}
.aibox {
    h1{ position:absolute;
        margin-top:-2.5vh;
        color:antiquewhite;
        font-size: 5vh;
        margin-left: 12vw;
      
    }
    p{
        margin-top: 60px;
    }
    padding: 15px;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    line-height: 2;
    color: rgb(206, 179, 188);
    margin-top: 22px;
    background-color: rgba(0, 0, 0, 0.393);
    height: 63vh;
    width: 40vw;
    margin-left: 1.5vw;
    border-radius: 10px;
    scrollbar-width: none; /* For Firefox */
}

.aibox::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}


.mainbox{
    display: flex;
    flex-direction: row;
}
.middlearea{
    display: flex;
    flex-direction: column;
   
}

.bottombar{
    bottom: 0;
    margin-bottom: 20px;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.393);
    height:28vh;
    width:83vw;
    margin-left: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.bottombox{
    margin-top: 12px;
    height:22vh;
    width:22vh;
    background-color: rgba(215, 215, 215, 0.863);
    margin-left:19px;
    border-radius: 10px;

    background-image: url("C:\codes\systemscoutxreactjs\systemscout\public\assets\computer-icon-symbol-sign-vector-removebg-preview.png");
    background-position: center;
    background-size: 12vw 12vw;
    background-repeat: no-repeat;

    p{
        padding-top: 10px;
        color: rgb(0, 0, 0);
    }

}
.bottombox:hover{
    z-index: 100;
 background-color: rgba(255, 255, 255, 0.493);
}





.rightarea{
    color:antiquewhite;
    margin-left: 2vw;
}

.rightbox{
    margin-top: 10px;
    border-radius: 10px;
    height:23vh;
    width:23vh;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.393);
}

.rightboxbig{
    margin-top: -4px;
    border-radius: 10px;
    height:40vh;
    width:23vh;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.393);
}



.chatarea{
    overflow:hidden;
    border-radius: 10px;
    margin-top: 17px;
    margin-left: 2vw;
    height:65vh;
    width: 44.5vh;
    background-color: rgba(0, 0, 0, 0.393);
    h1{font-size:5vh;
        margin-top: -20px;
        color:antiquewhite;
    }

}

#osinfo{
   line-height: 2;
   font-size: 18px;
   p{
    padding-left:15px;
    padding-right: 15px;
    margin-top:1.5vh;
   }
}

#adduser {
    margin-top: 12px;
    height:22vh;
    width:22vh;
    background-color: rgba(215, 215, 215, 0.863);
    margin-left:25px;
    border-radius: 10px;
    background-image: url("C:\codes\systemscoutxreactjs\systemscout\public\assets\icons8-plus-256.png"); /* Use a valid relative path */
    background-repeat: no-repeat;
    background-size: 120px 120px; /* Customize size (width height) */
    background-position: center; /* Center the image */
}


#gpuinfo{
    p{font-size: 14px;
    margin-top: -1vh;
line-height: 1.7;}
 
}



/* for battery */

.circle-wrap {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #605c615f;
    border-radius: 50%;
  }

  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }


  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #aca3ad;
    transform: rotate(0deg); /* Default to 0 degrees */
    transition: transform 0.5s ease-in-out; /* Smooth transition for rotation */
}
.circle-wrap .circle .mask.full {
    clip: rect(0px, 150px, 150px, 75px);
    background-color: #4fd70b00;
    transition: transform 0.5s ease-in-out; /* Smooth transition for rotation */
}
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }


  .circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: rgb(25, 23, 23);
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }


  .bottombutton{
    font-size: 20px;
    border: none;
    background-color: transparent;
  }

  
  .expandchatbtn{
    font-size: 30px;
    margin-left: 22vw;
    color:antiquewhite;
    border: none;
    background-color: transparent;

    
  }


  .highlight_specs{
    color: rgb(123, 240, 133);
  }

    
  .expandchatbtn:hover{
    color: rgb(44, 205, 58);

    
  }


  .expandedchat{
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    z-index: 1000;
    height:100vh;
    width: 100vw;
    overflow-y: hidden;
  }



  .closechatbtn{
    font-size: 60px;
    margin-left: 40px;
    color: aliceblue;
    background-color: transparent;
    position: absolute;
    left: 0;
    margin-top: 20px;
    border-radius: 20px;
    border: none;

  }

  .closechatbtn:hover{
    color: rgb(53, 131, 170);
  }